mixin block-example(data)
    .block-example
        .gallery
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            .gallery__item gallery item
            a.gallery__button( href='javascript:void(0);' ) load more