.block-example
  border: 1px solid goldenrod
  padding: 10px
  width: 90%
  margin: auto


.gallery
  max-width: 1200px
  border: 1px solid #000
  padding: 10px
  position: relative

  &::before
  &::after
    content: ''
    display: table

  &::after
    clear: both

  &__item
    float: left
    width: 32%
    margin: .666666667%
    height: 200px
    background-color: sandybrown

    color: #ffffff
    text-transform: capitalize
    text-align: center
    font: 700 20px/1.2 Helvetica, sans-serif

    display: none // javascript trick

  &__button
    padding: 1rem 2rem
    background-color: cornflowerblue
    position: absolute
    left: 50%
    bottom: -51px
    transform: translateX(-50%)