*, *::before, *::after {
    box-sizing: border-box
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.list::before,
.list::after {
    content: '';
    display: table;
}

.list::after {
    clear: both;
}

.list__item {
    float: left;
    width: 20%;
    padding: 1rem;
    background-color: orangered;
}

@media screen and ( max-width: 980px ) {
    .list__item {
        width: 33.333333333%;
    }
}

@media screen and ( max-width: 768px ) {
    .list__item {
        width: 50%;
    }
}

@media screen and ( max-width: 600px ) {
    .list__item {
        width: 100%;
    }
}