#dropStatus {
    text-transform: uppercase;
}

#dropZone {
    width: 100%;
    height: 300px;
    background-color: lightslategrey;
    border: 1px solid darkslategray;
    margin-bottom: 2rem;
}

#dropTitle {
    text-transform: capitalize;
}

#dropZone.over {
    box-shadow: inset 0 0 0 3px black;
}

#dropZone.overOver {
    background-color: darkolivegreen;
}

.objects {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rosybrown;
    cursor: move;
    text-transform: capitalize;
    user-select: none;
}

.objects.objectOver {
    box-shadow: 0 0 0 2px #000;
}

#readDropZone {
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    background-color: cornflowerblue;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}