h3 {
  text-transform: capitalize;
  text-align: center;
  padding: .5rem 0;
  background-color: salmon;
}

button {
  cursor: pointer;
}

.list.list-short > li:nth-child(n+6) {
  display: none;
}

.showmore {
  background-color: cornflowerblue;
}

.showmore.is-open {
  background-color: salmon;
}
