ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Affogato-Regular', sans-serif;
    letter-spacing: 1px;
    background-color: floralwhite;
}

.wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
    text-align: center;
}

#header {
    text-transform: capitalize;
    padding: 50px 20px;
    background-color: cornflowerblue;
    border-radius: 20px;
    font-weight: 700;
    font-size: 34px;
}

#subheader {
    text-transform: capitalize;
    background-color: orchid;
    padding: 40px 10px;
    border-radius: 40px 0;
    font-size: 28px;
}

.list {
    padding: 20px;
    border: 2px dashed deeppink;
    border-radius: 10px;
    text-transform: capitalize;
}

.list__item {
    margin: 10px 0;
    padding: 40px 0;
    background-color: sandybrown;
    text-transform: capitalize;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
}

#image {
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto 40px;
    background: #fff url(../images/sample-01.jpg) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 10px;
}
