.title
    text-align center
    text-transform uppercase

.subtitle
    text-align center
    text-transform capitalize

.caption
    text-align: center
    text-transform: capitalize
    padding: 2rem 0
    color: darkgreen

#chart .c3-line-data1
    stroke-width: 2px