#block {
    font: 700 20px/1.2 Helvetica, serif;
    text-transform: capitalize;
    text-align: center;
    padding: 2rem 0;
    border: 1px solid #000;
}

#slide {
    opacity: 0;
    transition: opacity 1s;
}