mixin isotope(data)
    .isotope
        .isotope-control
            button.isotope-control__item( type='button' data-filter='*' ) all
            button.isotope-control__item( type='button' data-filter='.uno' ) uno
            button.isotope-control__item( type='button' data-filter='.duo' ) duo
            button.isotope-control__item( type='button' data-filter='.tre' ) tre
            button.isotope-control__item( type='button' data-filter='.quattro' ) quattro
            button.isotope-control__item( type='button' data-filter='.cinque' ) cinque
        .isotope-grid
            .isotope-grid__sizer
            .isotope-grid__item.uno
            .isotope-grid__item.duo
            .isotope-grid__item.tre
            .isotope-grid__item.quattro
            .isotope-grid__item.cinque
            .isotope-grid__item.tre
            .isotope-grid__item.uno
            .isotope-grid__item.quattro
            .isotope-grid__item.duo
            .isotope-grid__item.cinque