.isotope
  padding: 10px

// ISOTOPE CONTROL
// --------------------------------------

.isotope-control
  padding: 10px 20px
  display: flex
  justify-content: center
  align-items: center

  @media screen and ( max-width: 600px )
    display: none

.isotope-control__item
  margin: 0 5px
  padding: 2px 16px


// ISOTOPE GRID
// --------------------------------------

.isotope-grid
  margin: 0 0 40px

.isotope-grid::before
.isotope-grid::after
  content: ''
  display: table

.isotope-grid::after
  clear: both

.isotope-grid__sizer
.isotope-grid__item
  float: left
  width: 32%
  margin: .666666667%
  height: 100px
  background-color: royalblue
  display: flex
  justify-content: center
  align-items: center

  @media screen and ( max-width: 768px )
    width: 48%
    margin: 1%

  @media screen and ( max-width: 600px )
    width: 98%
    margin: 1%

.isotope-grid__item
  color: #fff
  font-size: 20px


// ISOTOPE BUTTON
// --------------------------------------

.isotope-button
  display: block
  text-transform: uppercase
  background-color: hotpink
  border: none
  padding: 15px 20px
  font-size: 12px
  font-weight: 700
  color: wheat
  margin: auto

  &:hover
    color: #fff