mixin isotope(data)
    .isotope
        .isotope-control
            button.isotope-control__item( type='button' data-filter='*' ) all
            button.isotope-control__item( type='button' data-filter='.uno' ) uno
            button.isotope-control__item( type='button' data-filter='.duo' ) duo
            button.isotope-control__item( type='button' data-filter='.tre' ) tre
            button.isotope-control__item( type='button' data-filter='.quattro' ) quattro
            button.isotope-control__item( type='button' data-filter='.cinque' ) cinque
        .isotope-grid
            .isotope-grid__sizer
            .isotope-grid__item.uno uno
            .isotope-grid__item.duo duo
            .isotope-grid__item.tre tre
            .isotope-grid__item.quattro quattro
            .isotope-grid__item.cinque cinque
            .isotope-grid__item.tre tre
            .isotope-grid__item.uno uno
            .isotope-grid__item.quattro quattro
            .isotope-grid__item.duo duo
        button.isotope-button( type='button' ) load more
