.isotope
  padding: 10px

.isotope-control
  padding: 10px 20px
  display: flex
  justify-content: center
  align-items: center

.isotope-grid__sizer
.isotope-control__item
  margin: 0 5px
  padding: 2px 16px

.isotope-grid::before
.isotope-grid::after
  display: table
  content: ''

.isotope-grid::after
  clear: both

.isotope-grid__item
  float: left
  width: 32%
  margin: .666666667%
  height: 100px
  background-color: royalblue