*, *::before, *::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.block {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    border: 1px solid #000;
}

.block .diagram {
    width: 200px;
    height: 200px;
}

.block .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.text .text__main {
    color: #ffffff;
    font: 30px/1.2 serif;
    text-align: center;
}

.text .text__add {
    color: #ffffff;
    font: 18px/1.2 sans-serif;
    text-align: center;
}