mixin chartist(data)
    .ct-chart.ct-golden-section#chartUno
    .ct-chart.ct-golden-section#chartDuo
    .ct-chart.ct-golden-section#chartTre
    .ct-chart.ct-golden-section#chartQuattro
    .ct-chart.ct-golden-section#chartCinque
