- var js = 'javascript:void(0);'

doctype html
html(lang="en")
	head
		title Simple Javascript Slider
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet", href="styles/style.css")
	body

		.slider
			img.slider__image(src="images/image-1.jpg", alt="Image")
			img.slider__image(src="images/image-2.jpg", alt="Image")
			img.slider__image(src="images/image-3.jpg", alt="Image")
		button.slider__button.slider__button--prev#prev(type="button") prev
		button.slider__button.slider__button--next#next(type="button") next

		// SCRIPTS
		script(src="scripts/script.js")
