*, *::before, *::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.box-item {
    width: calc( 100% / 3 );
    height: 100%;
    border-radius: 50%;
    background-color: seagreen;
    margin: 0 10px;
}