
/* --------------- RULES ------------- */

.holder {
    text-align: center;
}

.holder-title {
    text-transform: uppercase;
    margin: 3rem 0;
}

.holder-subtitle {
    text-transform: capitalize;
    margin: 2rem 0;
}