* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#block {
	width: 300px;
	height: 300px;
	padding: 20px;
	border: 15px solid rgba(0, 0, 0, .3);
	overflow: auto;
	position: absolute;
	top: 50px;
	left: 100px;
}

.expand {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: tomato;
	position: absolute;
	right: 2rem;
	z-index: 2;
	cursor: pointer;
}

#expand1 {
	top: 2rem;
}

#expand2 {
	top: 4rem;
}
