*,*::before, *::after {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.easing {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.easing__item {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: coral;
    text-transform: capitalize;
}
