*, *::before, *::after {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: seashell;
    position: relative;
}

.playback {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid maroon;
}

.playback__item {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: coral;
    text-transform: capitalize;
}

.playback__controls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    border: 2px dashed firebrick;
}

.playback__controls:last-child {
    margin-bottom: 0;
}

.playback__button {
    width: 100%;
    margin: 0 0 10px;
    cursor: pointer;
    padding: 5px 10px;
}
